.homeAdapts-container {
  /* border: solid red; */
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--customColor1);
  border-radius: 20px;
}
.homeAdapts-wrapper {
  width: 40%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 16px;
}
.homeAdapts-content {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.homeAdapts-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.homeAdapts-content > h2 {
  width: 100%;
  text-align: start;
  color: white;
}
.homeAdapts-content > span > p {
  color: white;
}
.homeAdapts-content > button {
  width: 150px;
  padding: 10px;
  border-radius: 20px;
  color: var(--customColor1);
  background-color: var(--customColor2);
  font-weight: bold;
  border: none;
}
@media (max-width: 768px) {
.homeAdapts-container {
  /* border: solid red; */

  flex-direction: column;
  gap: 20px;
}
.homeAdapts-wrapper {
  width: 100%;
}
.homeAdapts-content {
  width: 100%;
  height: 100%;
}
}