.homeWorth-container {
  /* border: solid red; */
  width: 100%;
  padding: 20px;
}
.homeWorth-wrapper {
  /* border: solid green; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(189, 189, 189);
}
.homeWorth-heading > h2 {
  color: var(--customColor1);
 
}
.homeWorth-heading > p {
  color: grey;
}
.homeWorth-content {
  /* border: solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  margin-top: 50px;
}
.homeWorth-itemContainer {
  /* border: solid yellow; */
  width: 355px;
  height: 280px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--customColor3);
  border: 1px solid #bed5ff;
}
.homeWorth-itemIcon {
  height: 30%;
  width: 100%;
}
.homeWorth-itemIcon > span {
  /* border: solid red; */
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: white;
  background: linear-gradient(
    to bottom,
    #425e92,
    var(--customColor1),
    var(--customColor1)
  );
}
.homeWorth-itemDescription {
  height: 70%;
}
.homeWorth-itemDescription > h4 {
  color: var(--customColor1);
  font-size: 20px;
}
