.navbar-container {
  /* border: solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 15px 30px;
}
.navbar-content {
  /* border: solid green; */
  width: 100%;
  height: 80px;
  background-color: var(--customColor1);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.navbar-content > img {
  width: 120px;
  height: 100%;
  object-fit: contain;
  margin-left: 20px;
}
.navbar-content > button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--customColor2);
  color: var(--customColor1);
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 550;
}
.navbar-icon {
  color: var(--customColor1);
}
.bottomBar-container {
  /* border: solid blue; */
  width: 100%;
  height: 40px;
  border-radius: 15px;
  background-color: var(--customColor2);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .bottomBar-container > a {
  text-decoration: none;
  color: var(--customColor1);
} */
 .bottomBar-container > b{
  cursor: pointer;
 }
.bottomBar-container > b> span {
  color: red;
}
@media screen and (max-width: 768px) {
  .navbar-container {
    padding: 10px 15px;
  }
  .bottomBar-container {
    border-radius: 5px;
  }
 .bottomBar-container > b{
  cursor: pointer;font-size: 12px;
 }
}
