.homePartner-container {
  /* border: solid red; */
  padding: 30px;
}
.homePartner-heading {
  padding: 10px;
  border-bottom: solid 1px grey;
}
.homePartner-heading > h2 {
  color: var(--customColor1);
  font-size: 40px;
}
.homePartner-content {
  /* border: solid; */
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.homePartner-item {
  /* border: solid; */
  width: 170px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgb(180, 180, 180);
  margin: 10px;
}
.homePartner-item > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .homePartner-heading > h2 {
    color: var(--customColor1);
    font-size: 30px;
    text-align: center;
  }
  .homePartner-content {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .homePartner-item {
    /* border: solid; */
    flex: 0 0 auto;
  }
}
