.homeSpecialization-container {
  /* border: solid red; */
  padding: 20px;
  margin-top: 30px;
}
.homeSpecialization-heading>h2{
    color: var(--customColor1);
}
.homeSpecialization-item {
  /* border: solid green; */
  padding: 20px;
}
.homeSpecialization-wrapper {
  /* border: solid blue; */
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: var(--customColor1);
  border-radius: 20px;
}
.homeSpecialization-icon {
  font-size: 50px;
  color: white;
}
.homeSpecialization-wrapper > p {
  font-size: 18px;
  color: white;
}
@media screen and (max-width:768px) {
  .homeSpecialization-heading>h2{
    color: var(--customColor1);text-align: center;
}
}